@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Montserrat:wght@400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

#main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bg-text {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  p{
    color: rgba(0, 0, 0, 0.03);
    font-size: 100px; 
    text-align: justify;
    padding: 50px;
    font-weight: 500;
  }
  
}
#quote-container {
  flex: 1;
  margin-top: 130px;  
}
#quote-box {  
  background-color: rgba(255, 255, 255, 0.842);
  padding: 34px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
}
#quote {
  display: flex;
  align-items: center;
  width: 600px;
  height: 200px;
 
}
#quote-mark{
  font-size: 48px;
}
#btn-container {
 
  display: flex;
  justify-content: flex-end;
}
.button {
  background-color:#5481e4;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-size:14px;
  margin: 6px;
	padding:8px 12px;
  text-decoration:none;
  border: none;
  transition: 0.2s ease-in;
  outline: none;
  &:hover {
    background-color:#476dbe;
  }
}

#text {
  color: rgb(26, 25, 25);
  font-family: 'DM Mono', monospace;
  font-size: 22px; 
}
#author {
  font-size: 18px;
}
#footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 22px;
  p {
    margin: 4px 0;
  }
  
}

